{% layout settings.customer_layout %}

<div id="col-main" class="page-register">
  <div class="row">

    <div class="col-sm-6 col-xs-12">
      <div id="customer-register" class="customer-box">

        <h2>{{'customer.register.title' | t }}</h2>

        <div class="form-wrapper">
          {% form 'create_customer' %}

          {% if form.errors %}
          <div class="alert alert-danger">
            <button type="button" class="close" title="{{'customer.general.close' | t }}" data-dismiss="alert">×</button>
            {{ form.errors | default_errors }}
          </div>
          {% endif %}
          
          <div class="control-wrapper">
            <label for="first-name">{{ 'customer.register.first_name' | t }}</label>
            <input type="text" name="customer[first_name]" id="first-name" class="col-sm-12 col-xs-12" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus />
          </div>

          <div class="control-wrapper">
            <label for="last-name">{{ 'customer.register.last_name' | t }}</label>
            <input type="text" name="customer[last_name]" id="last-name" class="col-sm-12 col-xs-12" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words" autofocus />
          </div>

          <div class="control-wrapper{% if form.errors contains 'email' %} has-error{% endif %}">
            <label for="email">{{'customer.register.email' | t }}<span class="req">*</span></label>
            <input type="email" value="{{ form.email }}" name="customer[email]" id="email" class="col-sm-12 col-xs-12{% if form.errors contains 'email' %} error{% endif %}" />
          </div>

          <div class="control-wrapper{% if form.errors contains 'password' %} has-error{% endif %}">
            <label for="password">{{'customer.register.password' | t }}<span class="req">*</span></label>
            <input type="password" value="" name="customer[password]" id="password" class="col-sm-12 col-xs-12 password{% if form.errors contains 'password' %} error{% endif %}" />
          </div>

          <div class="control-wrapper">
            <button class="btn btn-default" type="submit">{{'customer.register.submit' | t }}</button>
          </div>

          {% endform %}
        </div>

      </div>
    </div>

    <div class="col-sm-6 col-xs-12">
      <div id="customer-login" class="customer-box">

        <h2>{{ 'customer.login.title' | t }}</h2>

        <div class="form-wrapper">
          {% form 'customer_login' %}

          {% if form.errors %}
          <div class="alert alert-error">
            <button type="button" class="close" title="{{'customer.general.close' | t }}" data-dismiss="alert">×</button>
            {{ form.errors | default_errors }}
          </div>
          {% endif %}

          <div class="control-wrapper">
            <label for="customer_email">{{ 'customer.login.email' | t }}<span class="req">*</span></label>
            <input type="email" required name="customer[email]" id="customer_email" class="col-sm-12 col-xs-12" />
          </div>

          {% if form.password_needed %}
          <div class="control-wrapper">
            <label for="customer_password">{{ 'customer.login.password' | t }}<span class="req">*</span></label>
            <input type="password" required name="customer[password]" id="customer_password" class="col-sm-12 col-xs-12 password" />
          </div>
          {% endif %}

          <div class="control-wrapper last">
            <button class="btn btn-default" type="submit">{{ 'customer.login.sign_in' | t }}</button>
            <a class="forgot-pass" href="javascript:;" onclick="showRecoverPasswordForm()">{{ 'customer.login.forgot_password' | t }}</a>
          </div>

          {% endform %}

        </div>
      </div>

      <div id="recover-password" class="customer-box" style="display: none;">

        <h2>{{ 'customer.recover_password.title' | t }}</h2>
        <p>Please enter your email address below. You will receive a link to reset your password.</p>

        <div class="form-wrapper">
          {% form 'recover_customer_password' %}

          {% if form.posted_successfully? %}
          {% assign reset_success = true %}
          {% endif %}

          {% if form.errors %}
          <div class="alert alert-danger">
            <button type="button" class="close" title="{{'customer.general.close' | t }}" data-dismiss="alert">×</button>
            {{ form.errors | default_errors }}
          </div>
          {% endif %}

          <div class="control-wrapper">
            <label for="recover-email">{{ 'customer.recover_password.email' | t }}<span class="req">*</span></label>
            <input type="email" value="" name="email" id="recover-email" class="col-sm-12 col-xs-12" />
          </div>

          <div class="control-wrapper">
            <button class="btn btn-default" type="submit">{{ 'customer.recover_password.submit' | t }}</button>
            <a class="cancel btn btn-custom" href="javascript:;" onclick="hideRecoverPasswordForm();">{{ 'customer.recover_password.cancel' | t }}</a>
          </div>

          {% endform %}
        </div>

      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  if (window.location.hash == '#recover') { showRecoverPasswordForm(); }

  function showRecoverPasswordForm() {
    $('#recover-password').fadeIn();
    $('#customer-login').hide();
    window.location.hash = '#recover';
    return false;
  }

  function hideRecoverPasswordForm() {
    $('#recover-password').hide();
    $('#customer-login').fadeIn();
    window.location.hash = '';
    return false;
  }
</script>

